<link rel="stylesheet" href="/css/header.css">
<div id="header">
   <h1> Codian</h1> &nbsp
    <% if (locals.user){ %>
        <h1><%=user.name%></h1>
        <div id="sign-out"><a href='/users/sign-out'>Sign out</a> </div>
   <% }else{%>
      <div id="sign-in"><a href="/users/sign-in">Sign In</a></div>
      <div id="sign-up"><a href="/users/sign-up">Sign Up</a></div>
   <%}%>
 
</div>