<p>
    <h1>Codeian <%=title%></h1>
</p>

<section id="feed-post">
    <h1>Posts</h1>
    <%if(locals.user){%>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" >Type here..
        </textarea>
        <input type="submit" value="Post">
    </form>
   <%}%>
</section>

<div id="post-list-container">
    <ul>
        <% for(post of posts){ %>
        <li>
          <p>
              <%= post.content%>
          </p>
          <p>
            <%= post.user.name%>
          </p>
        </li>
        <%}%>
    </ul>
</div>