<p>
    <h1>Codeian <%=title%></h1>
</p>

<section id="feed-post">
    <h1>Posts</h1>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" >Type here..
        </textarea>
        <input type="submit" value="Post">
    </form>
</section>