<html>
    <head>
        <title>
           <%=title%>
        </title>
    </head>
    <body>
        <%-include('_header')%>
        <p>
            <h1>Codeian/User profile <%=title%></h1>
        </p>
        <%-include('_footer')%>
    </body>
</html>