#header{
    display: flex;
    background-color: lightblue;
    #sign-out{
        width: 30%;
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
    #sign-in{
        width: 30%;
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
    #sign-up{
        width: 30%;
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
}