#home-container{
    display: flex;
    overflow: auto;
    #feed-post{
        width:80%;
        padding: 10px;
    }
    #user-friends{
        width: 30%;
        padding: 10px;
        border-left: 1px solid grey;

    }
}